<br /><br />
@model CoffeeShop.Models.Item
<form action="/Home/SaveEdit" method="post">
    Name: <input type="text" name="Name" disabled value="@ViewBag.ItemToEdit.Name" />
    <input type="hidden" name="Name" value="@ViewBag.ItemToEdit.Name" />
    <br />
    Description: <input type="text" name="Description" value="@ViewBag.ItemToEdit.Description" />
    <br />
    Quantity: <input type="number" name="Quantity" value="@ViewBag.ItemToEdit.Quantity" />
    <br />
    Price: <input type="number" step="any" name="Price" value="@ViewBag.ItemToEdit.Price" />
    <br />
    <input type="submit" value="Save Changes" />
</form>

<style>
    input{
        display:flex;
    }
</style>