<br /><br />
@model CoffeeShop.Models.User
<h3>Please fill in the form to register!</h3>
<h5>@ViewBag.FirstNameError</h5>
<h5>@ViewBag.LastNameError</h5>
<h5>@ViewBag.EmailError</h5>
<h5>@ViewBag.PhoneError</h5>
<h5>@ViewBag.UsernameError</h5>
<h5>@ViewBag.PasswordError</h5>
<br /><br />

<form action="/Home/AddUser" id="regFOrm" onsubmit="return validate()" method="post">
    <input type="text" id="regFirstName" placeholder="First Name" name="FirstName"/><br /><br />
    <input type="text" id="regLastName" placeholder="Last Name" name="LastName"/><br /><br />
    <input type="text" id="regEmail" placeholder="sample@email.com" name="Email"/><br /><br />
    <input type="text" id="regPhoneNo" placeholder="111-111-1111" name="PhoneNo"/><br /><br />
    <input type="text" id="regUsername" placeholder="Username" name="Username"/><br /><br />
    <input type="password" id="regPassword" placeholder="Password" name="Password"/><br /><br />
    <input type="submit" value="Register" />
</form>

<script src="../../Scripts/validation.js"></script>